@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");
/*
font-family: 'Raleway', sans-serif;
font-family: 'Open Sans', sans-serif;
*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/*******Colors*******/
/*******Fonts*******/
/*******Spacing*******/
/*******MEDIA QUERIES*******/
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

/* -------Header-------*/
.header {
  padding: 2rem 0;
}

.nav__container {
  height: 4rem;
  max-width: 1440px;
  margin: 0 auto;
  border: 1px solid #02f702;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__logo {
  height: 2.75rem;
}

.nav__list {
  list-style: none;
}

.nav__item {
  display: inline;
}

.nav__item .nav__link {
  text-decoration: none;
  margin: calc(0.5rem + 1vw);
  font-size: 0.9rem;
  color: #585989;
}

.main {
  border: 1px solid #02f702;
}

.section__title {
  font-size: calc(1rem + 1.5vw);
  line-height: 1.4;
  margin-bottom: 1rem;
}

.section__paragraph {
  font-size: 0.9rem;
  line-height: 1.4;
  margin-bottom: 1rem;
  padding-right: 2rem;
}

.form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input__email {
  margin-right: 1rem;
  width: 100%;
  padding: 0 1rem;
}

.input__email:focus {
  outline: 2px solid #e6adb5;
  border: transparent;
  border-radius: 3px;
}

.btn--get-started {
  width: 15rem;
}

.col-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero--img {
  width: 80%;
  height: auto;
}

@media screen and (max-width: 992px) {
  body {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    background-color: rgba(244, 165, 96, 0.247);
  }
  .nav__logo {
    height: 2.25rem;
  }
  .nav__item .nav__link {
    margin: calc(0.3rem + 1vw);
    font-size: 0.88rem;
  }
  .main {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    padding: 0;
  }
  .main > * {
    min-width: 100%;
    text-align: center;
    padding: 1.5rem;
  }
  .section__title {
    font-size: calc(1.5rem + 1.5vw);
    line-height: 1.4;
    margin-bottom: 1rem;
  }
  .section__paragraph {
    font-size: 0.9rem;
    line-height: 1.4;
    margin-bottom: 1rem;
    text-align: center;
    padding-right: 0;
    margin-right: 0;
  }
  .col-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero--img {
    width: 60%;
  }
  .form {
    max-width: 650px;
    margin: 0 auto;
  }
  .input__email {
    margin-right: 1rem;
  }
  .btn--get-started {
    margin-right: 1rem;
  }
}

@media screen and (max-width: 600px) {
  body {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    background-color: rgba(190, 96, 244, 0.247);
  }
  .nav__logo {
    height: 1.75rem;
  }
  .nav__item .nav__link {
    margin: calc(0.5rem + 1vw);
    font-size: 0.84rem;
  }
  .main > * {
    min-width: 100%;
    padding: 0;
  }
  .section__title {
    font-size: calc(1rem + 1.5vw);
    line-height: 1.4;
    margin-bottom: 1rem;
  }
  .section__paragraph {
    font-size: 0.84rem;
    line-height: 1.4;
    margin-bottom: 1rem;
    padding-right: 0;
  }
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .input__email {
    margin: 0.5rem 1rem;
    width: 100%;
  }
  .btn--get-started {
    margin: 0.5rem 1rem;
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  body {
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: rgba(96, 244, 145, 0.247);
  }
  .nav__logo {
    height: 1.5rem;
  }
  .nav__item .nav__link {
    margin: calc(0.3rem + 1vw);
    font-size: 0.8rem;
  }
  .section__title {
    font-size: calc(0.85rem + 1.5vw);
    line-height: 1.4;
    margin-bottom: 1rem;
  }
  .section__paragraph {
    font-size: 0.8rem;
    line-height: 1.4;
    margin-bottom: 1rem;
    padding-right: 0;
  }
  .col-right {
    min-width: 50px;
  }
  .hero--img {
    max-width: 100%;
  }
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .input__email {
    margin: 0.5rem 0;
    width: 100%;
  }
  .btn--get-started {
    margin: 0.5rem 0;
    width: 100%;
  }
}

.btn--link {
  cursor: pointer;
  color: #3c9f8f;
  border-bottom: 1px solid #3c9f8f;
  padding-bottom: 5px;
}

.btn--link::after {
  content: url(../images/icon-arrow.svg);
  background-size: 200px 200px;
}

.section__testimonial {
  margin-top: 2rem;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: "Raleway", sans-serif;
}

input,
button {
  font-family: "Raleway", sans-serif;
  font-size: 0.8rem;
  height: 2.5rem;
}

button {
  background-color: #3065f8;
  border-color: transparent;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}

input::-webkit-input-placeholder {
  opacity: 0.5;
  color: #bfbfbf;
}

input:-ms-input-placeholder {
  opacity: 0.5;
  color: #bfbfbf;
}

input::-ms-input-placeholder {
  opacity: 0.5;
  color: #bfbfbf;
}

input::placeholder {
  opacity: 0.5;
  color: #bfbfbf;
}

input::-webkit-input-placeholder:focus::-webkit-input-placeholder {
  color: transparent;
}

input:-ms-input-placeholder:focus:-ms-input-placeholder {
  color: transparent;
}

input::-ms-input-placeholder:focus::-ms-input-placeholder {
  color: transparent;
}

input::placeholder:focus::placeholder {
  color: transparent;
}

h1 {
  font-size: calc(2rem + 0.1vw);
  color: #070439;
}

p {
  color: #070439;
  margin-right: 2rem;
}

.section {
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 0;
  margin: 0 auto;
}

.section > * {
  border: coral 1px solid;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
/*# sourceMappingURL=main.css.map */