@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");
/*
font-family: 'Raleway', sans-serif;
font-family: 'Open Sans', sans-serif;
*/
html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/*******Colors*******/

// Primary
$vd-blue: hsl(243, 87%, 12%);
$desat-blue: hsl(238, 22%, 44%);
// Accent
$bright-blue: hsl(224, 93%, 58%);
$moderate-cyan: hsl(170, 45%, 43%);
// Neutral
$lg-blue: hsl(240, 75%, 98%);
$light-gray: hsl(0, 0%, 75%);

/*******Fonts*******/
$header-1-lg: calc(1rem + 1.5vw);
$header-1-md: calc(1.5rem + 1.5vw);
$header-1-sm: calc(1rem + 1.5vw);
$header-1-xm: calc(0.85rem + 1.5vw);

$parag: 0.9rem;
$parag-md: 0.88rem;
$parag-sm: 0.84rem;
$parag-xm: 0.8rem;

/*******Spacing*******/
//line height
$lh-normal: 1.4;

//margin
$mb-normal: 1rem;
$mr-normal: 2rem;

//
$margin-section-lg: 4rem;
$margin-section-md: 3.5rem;
$margin-section-sm: 2.5rem;
$margin-section-xm: 1rem;

//Logo Size
$logo-lg: 2.75rem;
$logo-md: 2.25rem;
$logo-sm: 1.75rem;
$logo-xm: 1.5rem;

/*******MEDIA QUERIES*******/
$media-xm: 375px;
$media-sm: 600px;
$media-md: 992px;
$media-lg: 1440px;

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* -------Header-------*/
// Layout
.header {
  padding: 2rem 0;
}
.nav__container {
  height: 4rem;
  max-width: $media-lg;
  margin: 0 auto;
  border: 1px solid rgb(2, 247, 2);
}
// Styles
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  height: $logo-lg;
}
.nav__list {
  list-style: none;
}
.nav__item {
  display: inline;

  .nav__link {
    text-decoration: none;
    // margin: clamp(0.5rem, 3vw, 1.5rem); //1.5rem
    margin: calc(0.5rem + 1vw); //1.5rem
    font-size: $parag;
    color: $desat-blue;
  }
}
// ----------- Main Sections -----------

.main {
  border: 1px solid rgb(2, 247, 2);
}
// .col-left {
// }
// .col-right {
// }
.section__title {
  font-size: $header-1-lg;
  line-height: $lh-normal;
  margin-bottom: $mb-normal;
}
.section__paragraph {
  font-size: $parag;
  line-height: $lh-normal;
  margin-bottom: $mb-normal;
  padding-right: 2rem;
}

.form {
  width: 100%;
  display: flex;
}
.input__email {
  margin-right: 1rem;
  width: 100%;
  padding: 0 1rem;

  &:focus {
    outline: 2px solid rgb(230, 173, 181);
    border: transparent;
    border-radius: 3px;
  }
}
.btn--get-started {
  width: 15rem;
}
.col-right {
  display: flex;
  justify-content: center;
}
.hero--img {
  width: 80%;
  height: auto;
}
// Medium Screen -- 992px
@media screen and (max-width: $media-md) {
  body {
    padding-left: $margin-section-md;
    padding-right: $margin-section-md;
    background-color: rgba(244, 165, 96, 0.247);
  }

  .nav__logo {
    height: $logo-md;
  }

  .nav__item {
    .nav__link {
      margin: calc(0.3rem + 1vw);
      font-size: $parag-md;
    }
  }
  .main {
    flex-wrap: wrap-reverse;
    padding: 0;
  }

  .main > * {
    min-width: 100%;
    text-align: center;
    padding: 1.5rem;
  }
  .section__title {
    font-size: $header-1-md;
    line-height: $lh-normal;
    margin-bottom: $mb-normal;
  }
  .section__paragraph {
    font-size: $parag;
    line-height: $lh-normal;
    margin-bottom: $mb-normal;
    text-align: center;
    padding-right: 0;
    margin-right: 0;
  }
  .col-right {
    display: flex;
    justify-content: center;
  }
  .hero--img {
    width: 60%;
  }
  .form {
    max-width: 650px;
    margin: 0 auto;
  }
  .input__email {
    margin-right: 1rem;
  }
  .btn--get-started {
    margin-right: 1rem;
  }
}
// md Screen -- 600px
@media screen and (max-width: $media-sm) {
  body {
    padding-left: $margin-section-sm;
    padding-right: $margin-section-sm;
    background-color: rgba(190, 96, 244, 0.247);
  }
  .nav__logo {
    height: $logo-sm;
  }
  .nav__item {
    .nav__link {
      margin: calc(0.5rem + 1vw);
      font-size: $parag-sm;
    }
  }
  .main > * {
    min-width: 100%;
    padding: 0;
  }

  .section__title {
    font-size: $header-1-sm;
    line-height: $lh-normal;
    margin-bottom: $mb-normal;
  }
  .section__paragraph {
    font-size: $parag-sm;
    line-height: $lh-normal;
    margin-bottom: $mb-normal;
    padding-right: 0;
  }
  .form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .input__email {
    margin: 0.5rem 1rem;
    width: 100%;
  }
  .btn--get-started {
    margin: 0.5rem 1rem;
    width: 100%;
  }
}

// xm Screen -- 375px
@media screen and (max-width: $media-xm) {
  body {
    padding-left: $margin-section-xm;
    padding-right: $margin-section-xm;
    background-color: rgba(96, 244, 145, 0.247);
  }

  .nav__logo {
    height: $logo-xm;
  }
  .nav__item {
    .nav__link {
      margin: calc(0.3rem + 1vw);
      font-size: $parag-xm;
    }
  }

  .section__title {
    font-size: $header-1-xm;
    line-height: $lh-normal;
    margin-bottom: $mb-normal;
  }

  .section__paragraph {
    font-size: $parag-xm;
    line-height: $lh-normal;
    margin-bottom: $mb-normal;
    padding-right: 0;
  }
  .col-right {
    min-width: 50px;
  }
  .hero--img {
    max-width: 100%;
  }
  .form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .input__email {
    margin: 0.5rem 0;
    width: 100%;
  }
  .btn--get-started {
    margin: 0.5rem 0;
    width: 100%;
  }
}
// -------------- SECTION 1 --------------
// .section--1 {
//   background-image: url("../images/bg-curve-desktop.svg");
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }

// .section--1 {
//   position: relative;
//   &::before {
//     display: block;
//     content: " ";
//     background-image: url("../images/bg-curve-desktop.svg");
//     background-repeat: no-repeat;
//     background-size: contain;
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     top: 0;
//     left: 0;
//     z-index: -1;
//   }
// }
.btn--link {
  cursor: pointer;
  color: $moderate-cyan;
  border-bottom: 1px solid $moderate-cyan;
  padding-bottom: 5px;
  &::after {
    content: url(../images/icon-arrow.svg);
    background-size: 200px 200px;
  }
}

.section__testimonial {
  margin-top: 2rem;
}
// -------------- SECTION 2 --------------

// -------------- GLOBAL STYLES --------------
body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: "Raleway", sans-serif;
}
input,
button {
  font-family: "Raleway", sans-serif;
  font-size: 0.8rem;
  height: 2.5rem;
}
button {
  background-color: $bright-blue;
  border-color: transparent;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}

input::placeholder {
  opacity: 0.5;
  color: $light-gray;

  &:focus::placeholder {
    color: transparent;
  }
}

h1 {
  font-size: calc(2rem + 0.1vw);
  color: $vd-blue;
}
p {
  color: $vd-blue;
  margin-right: $mr-normal;
}
// Sections
.section {
  max-width: $media-lg;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
  margin: 0 auto;
}
.section > * {
  border: coral 1px solid;
  flex: 1;
}
.col {
  flex: 1;
}
